<template>
  <transition name="modal">
    <div class="modal-m">
      <div class="modal-wrapper">
        <div class="modal-container">
          <form>
            <button class="default-button" @click="$emit('close')">
              X
            </button>

            <br>
            <input type="text">
            <br>
            <br>
            <input type="number" >
            <br><br>
            <input type="button" value=отправить @click="this.uploadFiles">
          </form>






          </div>
        </div>
      </div>

  </transition>
</template>

<script>





</script>

<style>
  .modal-m {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }



  .default-button {
    float: right;
  }



  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>
