<template>
  <div>

      <button id="show-modal" @click="showModal = true">КНОПКА</button>

      <bos v-if="showModal" @close="showModal = false">


      </bos>

  </div>

</template>

<script>
  import bos from '@/components/bos.vue'
    export default {
        components: {
          bos
        },

        data: function () {
          return {
            showModal: false
        }

        }
      }


</script>

<style scoped>

</style>
